<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <!-- Configure output to be used by the application -->
      <add key="OutputService" value="ConsoleOutput"/>
      
      <!-- Configure message servcie to be used by the application -->
      <add key="MessageService" value="InMemoryMessageService"/>
    </appSettings>
</configuration>